<%= form_for([@task_list, @task]) do |f| %>
  <div>
  <%= f.label :title, 'Título' %>
  <%= f.text_field :title %>
  </div>
  <div>
  <%= f.label :description, 'Comentário' %>
  <%= f.text_field :description %>
  <div>
  </div>
  <%= f.submit 'Salvar' %>
<% end %>
