<h1> Lista de Tarefas Pública </h1>
<p> Bem-vindo a maior lista de tarefas online </p>

<% if user_signed_in? %>

  <% @task.each do |list| %>
    <ul>
    <li><%= link_to list.title, task_list_path(list.id) %></li>
    </ul>
  <% end %>

  </div>
  <div>
    <%= link_to 'Criar nova lista', new_task_list_path %>
  </div>

  <div>
    <%= link_to 'Sair',  destroy_user_session_path, method: :delete %>
  </div>

<% else %>
  <%= link_to 'log in', new_user_session_path %>
  <%= link_to 'Sign up', new_user_registration_path %>
<% end %>
